body {
	font-family: 'Josefin Sans', sans-serif;
	background-image: url('../images/bg2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.query-box {
	width: 50%;
	margin: 0 auto;
	padding: 2em 0em;
	box-sizing: border-box;
	border-radius: 1em;
	background: #535658;
	opacity: 0.84;
}

.query-box input,.query-box select {
	display: block;
	width: 70%;
	margin: 1em auto;
}