body {
	font-family: 'Josefin Sans', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: gray;
}

.query-box {
	width: 25%;
	margin: 0 auto;
	padding: 2em 0em;
	box-sizing: border-box;
	border-radius: 1em;
	background: #535658;
	opacity: 0.84;
}

.query-box input, .query-box select {
	display: block;
	width: 50%;
	margin: 1em auto;
}

#results {
	width: 75%;
	display: none;
	margin: auto auto;
	margin-top: 8em;
}
